* {
  margin: 0;
  padding: 0;
}

body {
  background: #ececec;
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
}

body, html {
  width: 100%;
  height: 100%;
}

/**
* MENU
*/
aside {
  float: left;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100px;
  height: 100vh;
  padding: 10px;
  background-color: #353a3e;
  box-sizing: border-box;
  overflow-y: hidden;
}

aside a {
  display: block;
  color: #788e99;
  text-decoration: none;
}

aside a span {
  font-size: 0.35em;
}

i {
  display: block;
  font-size: 30px !important;
  width: 100%;
}

.logo img {
  width: 70px;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  margin: 40% 0;
}

aside > ul > li > a.active {
  color: #FFF;
}

aside > ul > li:first-child {
  margin-top: 20px;
  margin-bottom: 10px;
}

/**
* MAIN
*/
main {
  position: relative;
  float: left;
  width: calc(100% - 200px - 100px);
}

main > a {
  width: 200px;
  height: 50px;
  color: #63676B;
  background: #2E3136;
  border-bottom: 1px solid #292C31;
}

/**
* MAKE ROOM
*/
.make-room > a {
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 16px;
  color: #FFF;
  width: 200px;
  height: 50px;
  background: #4a4f56;
  box-sizing: border-box;
  border-bottom: 2px solid #292c31;
}

/**
* INTRO
*/
.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #424242;
}

.intro__center {
  position: absolute;
  width: 300px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.intro__center img {
  flex: 0 0 100%;
  margin-bottom: 10%;
}

.intro h2 {
  float: left;
  width: 100%;
  display: block;
  font-size: 0.8em;
}

.intro__username {
  flex: 0 0 100%;
}

.intro__username input[type="text"] {
  width: 250px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 0px;
  font-size: 20px;
}

.intro__username input[type="submit"] {
  border: 0;
  width: 50px;
  padding: 11px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #E53935;
  font-size: 20px;
  color: #FFF;
  margin-left: -10px;
}

.intro__username input[type="submit"]:hover {
  cursor: pointer;
}

.intro__error {
  margin-top: 20px;
  flex: 0 0 100%;
  color: #F4511E;
  font-size: 16px;
  height: 40px;
}

/**
* ROOMS
*/
rooms {
  float: left;
}

.room-list {
  width: 200px;
  height: calc(100vh - 50px);
  background: #2E3136;
}

.room {
  display: block;
  color: #63676B;
  width: 100%;
  height: 55px;
  padding: 10px;
  box-sizing: border-box;
}

.room--active {
  color: #FFF;
}

.room:hover {
  color: #FFF;
  background: #4a4f56;
  cursor: pointer;
}

.room__title {
  font-size: 16px;
}

.room__subtitle {
  font-size: 12px;
}

/**
* CHAT
*/

