* {
  margin: 0;
  padding: 0;
}

body {
  background: #ececec;
  font-family: 'PT Sans', sans-serif;
}

/**
* MENU
*/
aside {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  float: left;
  width: 120px;
  height: 100vh;
  padding: 10px;
  background-color: #353a3e;
}

aside a {
  display: block;
  color: #788e99;
  text-decoration: none;
}

aside a span {
  font-size: 12px;
}

i {
  display: block;
  font-size: 30px !important;
  width: 100%;
  margin-bottom: 15px;
}

.logo img {
  width: 70px;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  margin: 60% 0;
}

aside > ul > li > a.active {
  color: #FFF;
}

aside > ul > li:first-child {
  margin-top: 20px;
  margin-bottom: 10px;
}

/**
* MAIN
*/
main {
  width: calc(100% - 140px);
  float: left;
}

/**
* SESSION LIST
*/
session {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.session .session--big {
  -webkit-flex: 2 0 0; 
  flex: 2 0 0; 
}

.session {
  -webkit-flex: 1 0 0;
   flex: 1 0 0;
  color: #FFF;
}

.session__title {
  background: #82ca9c;
  box-sizing: border-box;
  padding: 20px;
}

.session__title:hover {
  cursor: pointer;
}

.session__participants {
  border-bottom: 1px solid #ececec;  
}

.session__participants, .session__footer {
  background: #FFF;
  box-sizing: border-box;
  padding: 10px;
}