* {
  margin: 0;
  padding: 0;
}

body {
  background: #ececec;
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
}

/**
* MENU
*/
aside {
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100px;
  height: 100vh;
  padding: 10px;
  background-color: #353a3e;
  box-sizing: border-box;
  overflow-y: hidden;
}

aside a {
  display: block;
  color: #788e99;
  text-decoration: none;
}

aside a span {
  font-size: 0.35em;
}

i {
  display: block;
  font-size: 30px !important;
  width: 100%;
}

.logo img {
  width: 70px;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  margin: 40% 0;
}

aside > ul > li > a.active {
  color: #FFF;
}

aside > ul > li:first-child {
  margin-top: 20px;
  margin-bottom: 10px;
}

/**
* MAIN
*/
main {
  margin-left: 100px;
  width: calc(100% - 100px);
  float: left;
}

main > a {
  width: 200px;
  height: 50px;
  color: #63676B;
  background: #2E3136;
  border-bottom: 1px solid #292C31;
}

/**
* MAKE ROOM
*/
.make-room > a {
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 16px;
  color: #FFF;
  width: 200px;
  height: 50px;
  background: #4a4f56;
  box-sizing: border-box;
  border-bottom: 2px solid #292c31;
}

/**
* ROOMS
*/
.room-list {
  width: 200px;
  height: calc(100vh - 50px);
  background: #2E3136;
}

.room {
  display: block;
  color: #63676B;
  width: 100%;
  height: 55px;
  padding: 10px;
  box-sizing: border-box;
}

.room--active {
  color: #FFF;
}

.room:hover {
  color: #FFF;
  background: #4a4f56;
  cursor: pointer;
}

.room__title {
  font-size: 16px;
}

.room__subtitle {
  font-size: 12px;
}
